In [1]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
from functools import lru_cache
import warnings

warnings.filterwarnings('ignore')
pd.set_option('display.max_column', 100)

In [2]:
data = pd.read_csv('../dataset/processed_data.csv')
data.head()

,HouseType,Price,Size,Bedrooms,Bathrooms,Level,Furnished,Area,City,ElectricityMeter,BuiltinKitchenAppliances,WaterMeter,Elevator,Balcony,NaturalGas,Landline,Security,CentralAC,CoveredParking,PetsAllowed,PrivateGarden,MaidsRoom,Pool
0,Apartment,35000,165,3,3,0,1,Madinaty,Cairo,1,1,1,0,1,1,0,1,1,0,0,1,0,0
1,Apartment,77000,225,3,3,2,1,Uptown Cairo,Cairo,0,0,0,0,1,0,0,1,0,1,1,0,1,0
2,Apartment,30000,280,4,3,1,0,Nasr City,Cairo,1,0,1,1,1,1,1,1,0,0,0,0,0,0
3,Apartment,1500,120,3,2,2,1,Nasr City,Cairo,1,1,1,0,1,1,0,0,1,0,0,0,0,0
4,Apartment,160000,14,2,3,1,1,Katameya Heights,Cairo,1,0,1,0,1,0,0,1,1,0,1,0,0,0

In [3]:
geolocator = Nominatim(user_agent="Python3.11.3")

def get_coord_lat_lon(full_addr: str):
    """ Get coordinates for address
        Remove brackets: "Mitte (Ortsteil), 10117" => "Mitte, 10117"
    """
    pt = geolocator.geocode(full_addr)
    return (pt.latitude, pt.longitude) if pt else (np.nan, np.nan)

In [4]:
# Create a lookup table to save time
cairoRegions = data.query('City == "Cairo"')['Area'].unique().tolist()
gizaRegions = data.query('City == "Giza"')['Area'].unique().tolist()

cairoCoords = {}
for region in cairoRegions:
    long, lat = get_coord_lat_lon(f'{region}, Cairo')
    cairoCoords[region] = [long, lat]
    
gizaCoords = {}
for region in gizaRegions:
    long, lat = get_coord_lat_lon(f'{region}, Giza')
    gizaCoords[region] = [long, lat]

In [5]:
cairoCoords

{'Madinaty': [30.093319, 31.63791604173324],
 'Uptown Cairo': [30.02362815, 31.304425051498075],
 'Nasr City': [30.0521177, 31.3422045],
 'Katameya Heights': [29.99539705, 31.40535759085526],
 'Fifth Square': [30.051085999999998, 31.537079494992852],
 'EL Shouyfat': [nan, nan],
 'Zahraa Al Maadi': [29.9647127, 31.2825293],
 'Heliopolis': [30.1005985, 31.3329136],
 'Rehab City': [30.063584, 31.4889939],
 'Villette': [nan, nan],
 'Zamalek': [30.055459550000002, 31.219631655798278],
 'Cairo Festival City': [30.026992800000002, 31.40906325945414],
 'Lake View': [30.0959915, 31.642971],
 'Eastown': [30.012330300000002, 31.51555386421819],
 'Mountain View Hyde Park': [29.98737805, 31.5554474],
 'Porto New Cairo': [30.0641413, 31.42413429130798],
 'El Banafseg 12': [30.0665034, 31.4872965],
 '1st Settlement': [30.0632671, 31.4544799],
 'Gardenia': [30.14120045, 31.649164616027797],
 'Village Gate': [14.550879, 121.1362882],
 'Downtown Cairo': [30.0887612, 31.2898195],
 'Lake view Residence': [30.0244139, 31.538300149025318],
 'One Kattameya': [29.98060935, 31.356154220923457],
 'New Cairo': [42.3040807, -74.01013495333201],
 'Katameya Dunes': [30.0014688, 31.5198459],
 'Zizinia Gardens': [30.037173199999998, 31.504690351364992],
 'Mivida': [30.00579785, 31.537649320922906],
 'The Village': [10.7592548, 122.5895577],
 'Katameya Plaza': [30.018619, 31.42209475580205],
 'South Investors': [nan, nan],
 'Hyde Park New Cairo': [29.9865446, 31.552985],
 '5th Settlement': [30.0632671, 31.4544799],
 '90 Avenue': [nan, nan],
 'Maadi Gardens': [29.985080449999998, 31.335207704300238],
 'Al Manial': [30.023763950000003, 31.223186029658244],
 'Mostakbal City': [30.05006015, 31.62472680450128],
 'Abasiya': [nan, nan],
 'Sheraton': [30.107562199999997, 31.40870574519208],
 'Al Narges': [29.957607, 31.7190836],
 'Ain Shams': [30.1304761, 31.3167491],
 'Maadi': [29.9597112, 31.258077057336912],
 'Jayd': [30.0653358, 31.52110655330324],
 '15 May City': [30.1229914, 31.6158456],
 'Shorouk City': [30.149150650000003, 31.629114053470285],
 'El Banafseg 5': [30.0638757, 31.4831418],
 'Tura': [29.9345933, 31.2807256],
 'Dar Misr': [30.1235742, 31.724585632889735],
 'El Maadi': [29.952888, 31.263476453161196],
 '3rd Settlement': [30.0632671, 31.4544799],
 'Sky Condos Sodic': [nan, nan],
 'Degla Towers': [nan, nan],
 'Helwan': [29.8500001, 31.333333],
 '3rd District': [14.727433, 121.0071315],
 'Palm Hills New Cairo': [30.01949485, 31.493020085928507],
 'Maadi V': [29.9680141, 31.2491432],
 'Sama': [29.9575315, 31.719946],
 'Marg': [30.1442089, 31.3601851],
 'New Nozha': [30.12475835, 31.370071774421465],
 'The Waterway Compound': [nan, nan],
 'La Mirada': [30.0694563, 31.65694751539074],
 'El Yasmeen 1': [30.0327599, 31.4471519],
 'North Investors': [nan, nan],
 'El Lotus': [30.01917005, 31.503741305690617],
 'R3': [30.0304045, 31.5482001],
 'El Koronfel': [nan, nan],
 'Porto Heliopolis': [30.08305175, 31.348806343560888],
 'Mountain View Executive': [29.9907121, 31.5121515],
 'Bavaria Town': [29.98042345, 31.339786614693747],
 'The Square': [nan, nan],
 'AZAD': [30.01348555, 31.507959925484734],
 'Nakheel': [30.1290665, 31.3624668],
 'Mountain View iCity': [nan, nan],
 'Park View': [54.894418400000006, -1.3764097378138356],
 'Go Heliopolis': [nan, nan],
 '2nd District': [14.6081447, 121.0946602],
 'Badr City': [30.142806, 31.742824],
 'Mokattam': [30.0163466, 31.2804433],
 'New Maadi': [29.9776148, 31.2842341],
 'One Ninety': [nan, nan],
 'Kattameya Palms': [nan, nan],
 'El Yasmeen 5': [30.0362498, 31.4389168],
 'La Rose': [30.01308525, 31.498174793781445],
 'Salam City': [30.16955475, 31.410598033985877],
 'Helmeyat El Zaytoun': [nan, nan],
 'Almazah': [nan, nan],
 'Mountain View 1': [29.9915527, 31.5111977],
 'Al Hadaba Al Wosta': [29.9996679, 31.292451156904992],
 'Akoya': [29.98950955, 31.507026074071824],
 'Galleria Moon Valley': [30.02061805, 31.53881207732435],
 'Al Andalous': [29.98497045, 31.518962051603832],
 'Acasa': [nan, nan],
 'EL Patio ORO': [nan, nan],
 'Gesr Al Suez': [30.1285134, 31.3641252],
 'Zizinia Rose': [30.039324200000003, 31.506508233283185],
 'Katameya': [29.9921014, 31.4046293],
 'Crystal Plaza': [29.9815982, 31.332031703547592],
 'Shubra': [30.0805735, 31.2452966],
 'Degla': [29.93860945, 31.39244870237419],
 'El Banafseg 7': [30.0692982, 31.4754707],
 'Obour City': [30.1639624, 31.4783856],
 'Sheraton Residence': [nan, nan],
 'South of Academy': [nan, nan],
 'Andalus': [30.044986700000003, 31.227439166607294],
 'El Yasmeen 7': [30.0364297, 31.438918],
 'Gardenia Springs': [30.0481402, 31.511309259929277],
 'Aria': [30.055857349999997, 31.61627842073563],
 'Matareya': [30.12153025, 31.304378656632124],
 'Stone Residence': [29.979318550000002, 31.385912527573232],
 'Ivy Residence': [nan, nan],
 'El Banafseg 1': [30.0643724, 31.4553192],
 'Ritage': [nan, nan],
 'Hadayek al-Kobba': [nan, nan],
 'River Walk': [nan, nan],
 'El Banafseg 10': [30.0639004, 31.4542767],
 'Al Burouj': [30.2006796, 31.677725304975123],
 'Taj City': [30.0686886, 31.41454044271383],
 'American University Housing': [nan, nan],
 'Al Amiriyyah': [nan, nan],
 'El Yasmeen 6': [30.0490039, 31.4502418],
 'El Shorouk Springs': [30.12308815, 31.64396274859963],
 'East of Academy': [nan, nan],
 'Ramses + Ramses Extension': [30.064208, 31.309095038395874],
 'District 5 Compound': [30.000538900000002, 31.414719007664267],
 'Sarayat El Kattameya': [nan, nan],
 'Leila': [30.0299478, 31.476550989281463],
 'Celia': [30.0884884, 31.3009836],
 'El Banafseg 8': [30.0654844, 31.4542249],
 'Midtown': [30.0124522, 31.500909086325436],
 'New Capital City': [30.1075843, 31.729161],
 'El Yasmeen 2': [30.0279437, 31.4931625],
 'Zawya al-Hamra': [30.0984693, 31.262636096602584],
 'Hadayek Helwan': [29.8968261, 31.3009298],
 'EL Patio 7': [30.1408848, 31.6108042],
 'El Yasmeen 4': [30.0492082, 31.4502418],
 '1st District': [29.9752827, 30.9435141],
 'VGK': [nan, nan],
 'El Yasmeen 8': [30.0488414, 31.4502418],
 'Abu Al-Hool': [nan, nan],
 'Regents Park': [nan, nan],
 'Diplomats': [nan, nan],
 'El Banafseg 2': [30.0592886, 31.4779356],
 'Village Avenue': [28.5911114, -81.3942365],
 'Maadi Grand City': [29.9807919, 31.32692724676877],
 'Village Gardens Katameya': [30.0014688, 31.5198459],
 'Smart Life': [30.01116, 31.488063247082138],
 'Al Diyar': [30.01444925, 31.46814955929885],
 'Tag Sultan': [nan, nan],
 '5th District': [14.7103047, 121.0523715],
 'Capital Gardens': [0.322599, 32.6090424],
 'Sayeda Zeinab': [30.03159755, 31.242095108958335],
 'EL Patio Casa': [nan, nan],
 'Garden City': [30.03472205, 31.231187914963712],
 'Sarayat El Maadi': [nan, nan],
 'El Fostat': [nan, nan],
 'Cairo Town': [30.8773326, -84.2079425],
 'Marvel City': [30.01351845, 31.499640221067622],
 'Dyar': [30.04197815, 31.51734647875545],
 'New Andalous': [nan, nan],
 'Hadayek El Maadi': [29.9701057, 31.2506865],
 'EL Patio 5': [30.1409892, 31.6105065],
 'Gharb Golf': [nan, nan],
 'Bellagio': [30.03938805, 31.50000726366669],
 'El Patio': [29.999957199999997, 31.504489650962626],
 'Baron City': [29.9846686, 31.339842578992176],
 'Sodic East': [nan, nan],
 'El Banafseg 4': [30.0666381, 31.4551341],
 'Al Hadaba Al Olya': [nan, nan],
 'ORO': [44.4000287, 8.2838084],
 'Moon Valley': [30.02061805, 31.53881207732435],
 'Promenade New Cairo': [nan, nan],
 'Easy Life': [30.00987565, 31.487699739973724],
 'El Banafseg 3': [30.0608346, 31.4778162],
 'Stella New Cairo': [30.046337549999997, 31.47734534563392],
 'New Heliopolis': [30.1180968, 31.6925603],
 'Maadi View': [30.1226021, 31.652070343425926],
 'Asala': [30.0031975, 31.494845608747546],
 'Sarai': [nan, nan],
 'The Address East': [nan, nan],
 'Guezira Green Park': [30.0176942, 31.48332567814567],
 'Kattameya Residence': [nan, nan],
 'Bab al-Shereia': [nan, nan],
 'Marina City': [30.03683415, 31.228714756461713],
 'Concordia': [30.043009650000002, 31.503117818979966],
 'Hayat Heights': [nan, nan],
 'West Arabella': [29.988430450000003, 31.42476857062647],
 'El Banafseg 6': [30.0620395, 31.4786383],
 '4th District': [14.4866566, 121.0051297],
 'Zizinia El Mostakbal': [30.05006015, 31.62472680450128],
 'May Fair': [30.1304935, 31.6070981],
 'Mena Residence': [nan, nan],
 'Family City': [30.0335773, 31.4850806],
 'Ashrafeya': [nan, nan],
 'Mirage City': [30.0716564, 31.4353683],
 'Hayah Residence': [30.14096395, 31.62569370051815],
 'Swan Lake': [30.05952685, 31.439654765703647],
 'Arabella Village': [nan, nan],
 'Al-Jazeera': [30.0477237, 31.219919846945196],
 'EL Patio 2': [29.999957199999997, 31.504489650962626],
 'El Yasmeen 3': [30.0360885, 31.4389157],
 'Sephora Heights': [29.992286800000002, 31.50490150402916],
 'Trio Gardens': [nan, nan],
 'Al Defaa Al Watany Compound': [nan, nan],
 'New Cairo - El Tagamoa': [30.0573144, 31.460631997147686],
 'Koronfel Heights': [nan, nan],
 'El Banafseg 11': [30.0652778, 31.4833778],
 'Zahret El Tagamo': [nan, nan],
 'Porto Cairo': [30.0641413, 31.42413429130798],
 'New Narges': [29.993924, 31.457322913500562],
 'Mirage Residence': [nan, nan]}

In [6]:
# Latitude Function
def region_geo_coder_latitude(region):
    if region in cairoRegions:
        return cairoCoords[region][0]
    
    if region in gizaRegions:
        return gizaCoords[region][0]
    
    if region in alexRegions:
        return alexCoords[region][0]

# Longtitude Function
def region_geo_coder_longtitude(region):
    if region in cairoRegions:
        return cairoCoords[region][1]
    
    if region in gizaRegions:
        return gizaCoords[region][1]
    
    if region in alexRegions:
        return alexCoords[region][1]


data['Lat'] = data['Area'].apply(region_geo_coder_latitude)
data['Long'] = data['Area'].apply(region_geo_coder_longtitude)

In [7]:
data.isna().sum()

HouseType                     0
Price                         0
Size                          0
Bedrooms                      0
Bathrooms                     0
Level                         0
Furnished                     0
Area                          0
City                          0
ElectricityMeter              0
BuiltinKitchenAppliances      0
WaterMeter                    0
Elevator                      0
Balcony                       0
NaturalGas                    0
Landline                      0
Security                      0
CentralAC                     0
CoveredParking                0
PetsAllowed                   0
PrivateGarden                 0
MaidsRoom                     0
Pool                          0
Lat                         655
Long                        655
dtype: int64

In [8]:
# drop the null values
data = data.dropna()

In [9]:
data.to_csv('../dataset/geocoded_data.csv', index=False)